[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-mongoengine = "*"
flask = "*"
flask-restful = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
wtforms = "*"
flask-wtf = "*"
flask-mail = "*"
flask-cors = "*"
flask-sendgrid = "*"

[requires]
python_version = "3.7"
